html[data-theme="light"] {
    --main-text-color: rgb(10, 10, 10);
    --main-text-color-hover: rgb(25, 25, 25);

    --main-background-color: rgb(240, 240, 240);
    --main-background-color-hover: rgb(240, 240, 240);
    --main-background-color-accent-1: rgb(230, 230, 230);
    --main-background-color-accent-2: rgb(210, 210, 210);

    --main-color: rgb(0, 122, 204);
    --main-color-hover: rgb(5, 140, 230);
    --main-color-active: rgb(7, 155, 253);
    --main-color-active-hover: rgb(20, 161, 255);

    --button-color: black;
    --button-background: rgb(250, 250, 250);
    --button-border-color: rgb(210, 210, 210);

    --input-color: black;
    --input-background: rgb(250, 250, 250);
    --input-border-color: rgb(210, 210, 210);

    --main-green: rgb(99, 219, 99);
    --main-red: red;
    --main-orange: rgb(237, 170, 0);
    --main-grey: lightgray;

    --light-gray: rgb(40, 40, 40);
    --light-gray-hover: rgb(44, 44, 44);

    --table-head-background: rgb(210, 210, 210);
    --table-row-even: rgb(230, 230, 230);
    --table-row-odd: rgb(237, 237, 237);
    --table-row-hover: rgb(98, 182, 238);
    --table-row-active: rgb(142, 195, 230);
    --table-row-active-hover: rgb(98, 182, 238);

    --table-background-open-even: rgb(230, 230, 230);
    --table-background-open-odd: rgb(237, 237, 237);
    --table-background-requested-even: rgb(240, 150, 70);
    --table-background-requested-odd: rgb(236, 146, 66);
    --table-background-ordered-even: rgb(230, 255, 87);
    --table-background-ordered-odd: rgb(230, 255, 87);
    --table-background-late-even: rgb(250, 100, 80);
    --table-background-late-odd: rgb(250, 100, 80);
    --table-background-partial-even: rgb(165, 255, 40);
    --table-background-partial-odd: rgb(165, 255, 40);
    --table-background-delivered-even: rgb(99, 215, 99);
    --table-background-delivered-odd: rgb(99, 215, 99);
    --table-background-canceled-even: rgb(143, 143, 143);
    --table-background-canceled-odd: rgb(143, 143, 143);
    --table-background-lost-even: rgb(173, 110, 110);
    --table-background-lost-odd: rgb(173, 110, 110);
}