@import '@/scss/variables.scss';

.table-base-scope {
  width: 100%;
  height: 100%;
}

.table-base-container {
  height: 100%;
  overflow: auto;

  // padding: 10px;
  margin: 4px;
  
  background-color: $main-background-color-dark;
  
  border-style: solid;
  border-color: $main-background-color-dark;
  border-width: 10px;
  border-radius: $main-border-radius;
}

table {
  width: 100%;
  margin-top: -6px; // Remove border-spacing from top
  margin-bottom: -6px; // Remove border-spacing from bottom

  background-color: $main-background-color-dark;

  border-style: none;

  border-radius: $main-border-radius;
  border-collapse: separate;
  border-spacing: 0 6px;
}

th {
  position: sticky;
  top: 0;

  padding: 9px;
  margin: 9px;

  font-family: 'Play', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;

  background-color: $table-head-background;
}

th:first-child {
  border-left-style: none;
  border-top-left-radius: $main-border-radius;
  border-bottom-left-radius: $main-border-radius;
}

th:last-child {
  border-right-style: none;
  border-bottom-right-radius: $main-border-radius;
  border-top-right-radius: $main-border-radius;
}

tr {
  border-radius: $main-border-radius;
}

tr:nth-child(odd)>td {
  background: $table-row-odd;
}

tr:nth-child(even)>td {
  background: $table-row-even;
}

tr:hover>td {
  background: $table-row-hover;
}

tr.selected>td {
  background: $table-row-active;
}

tr.selected:hover>td {
  background: $table-row-active-hover;
}

td {
  font-size: 14px;
  padding: 6px;
  margin: 6px;
  word-wrap: break-word;
}

td:first-child {
  border-left-style: none;
  border-top-left-radius: $main-border-radius;
  border-bottom-left-radius: $main-border-radius;
}

td:last-child {
  border-right-style: none;
  border-bottom-right-radius: $main-border-radius;
  border-top-right-radius: $main-border-radius;
}