@import "@/scss/variables.scss";

th {
  z-index: 50;
  position: sticky;

  min-width: v-bind(cssWidth);
  max-width: v-bind(cssWidth);

  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;

  color: white;
  background: $table-head-background;
}
