

td {
  z-index: 0;
  
  width: auto;
  height: 24px;

  font-family: var(--main-font-text);
  font-size: var(--main-font-text-size);

  margin: 0;
  padding: 0;

  word-wrap: break-word;
  border-bottom: solid thin rgb(100, 100, 100);
  border-right: solid thin var(--table-head-background);
}

span {
  padding-left: 2px;
  padding-right: 2px;

  font-family: var(--main-font-text);
  font-size: var(--main-font-text-size);
}

.fix-height {
  height: min-content;
  width: 100%;

  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  white-space: nowrap;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}

.editing {
  font-style: italic;
}