

tr {
  color: var(--main-text-color);
  background: var(--table-head-background);
}

th {
  z-index: 50;
  position: sticky;

  min-width: v-bind(cssWidth);
  max-width: v-bind(cssWidth);

  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;

  color: var(--main-text-color);
  background: var(--table-head-background);
  
  font-family: var(--main-font-head);
  font-size: var(--main-font-head-size);
}

.editing {
  font-style: italic;
}
