@import "@/scss/variables.scss";

button {
}

.button {
  cursor: pointer;

  font-family: "Play", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9em;

  height: 32px;
  width: 42px;

  display: inline-flex;
  outline: none;
  position: relative;
  align-items: center;

  color: #fff;
  background-color: $main-background-color-dark-2;
  border-style: $main-border-style;
  border-width: $main-border-width;
  border-color: $main-background-color-dark-2;
  border-radius: $main-border-radius;

  padding: 0 10px;

  transition: all 0.2s ease-in;
}

.button:hover {
  background-color: $main-background-color;
  border-color: $main-border-color;
}

.text {
  width: 130px;
}

.active {
  border-color: $main-border-color;
}

.icon {
  cursor: pointer;
  color: $main-color;
  display: inline-flex;
  width: 17px;
  height: 17px;
}

.icon-text {
  margin-right: 10px;
}
