button {
  cursor: pointer;

  font-family:var(--main-font-head);
  font-size: var(main-font-head-size);

  height: 32px;
  width: 42px;

  display: inline-flex;
  outline: none;
  position: relative;
  align-items: center;

  color: var(--button-color);
  background-color: var(--button-background);
  
  border: 1px solid var(--button-border-color);
  border-radius: var(--main-border-radius);
  border-style: var(--main-border-style);
  border-width: var(--main-border-width);

  padding: 0 10px;

  transition: all 0.2s ease-in;
}

button:hover {
  background-color: var(--main-background-color);
  border-color: var(--main-border-color);
}

.text {
  width: 130px;
}

.active {
  border-color: var(--main-border-color);
}

.icon {
  cursor: pointer;
  color: var(--main-color);
  display: inline-flex;
  width: 17px;
  height: 17px;
}

.icon-text {
  margin-right: 10px;
}
