

select {
  font-family: var(--main-font-head);
  font-size: var(--main-font-head-size);
  text-align: center;

  margin: 0;
  padding: 0;
  width: 130px;
  height: 32px;

  color: var(--main-text-color);
  background-color: var(--input-background);

  border: 1px solid var(--input-border-color);
  border-radius: var(--main-border-radius);
  border-style: var(--main-border-style);
  border-width: var(--main-border-width);

  -webkit-appearance: button;
  appearance: button;
  outline: none;
  border-radius: 3px;

  transition: all 0.2s ease;
}

select:hover {
  background-color: var(--main-background-color-hover);
  border-color: var(--main-border-color);
  filter: brightness(1.2);
}
