

.controls-base-scope {
  width: 100%;
  height: auto;
  overflow: hidden;
  cursor: default;

  margin: 0;
  padding: 0;

  font-family: var(--main-font-text);
  font-size: var(--main-font-text-size);
}

.controls-base-container {
  height: auto;
  overflow: hidden;
  padding: 4px;
  margin: 4px;

  background-color: var(--main-background-color-accent-1);

  border-radius: var(--main-border-radius);
}

.controls-base-element {
  float: left;
  margin: 2px;
}

