@import '@/assets/variables.scss';

.container {
    padding: 10px;
}

#grid {
    grid-gap: 5px;
    grid-template-rows: 35px 35px 35px;
    grid-template-columns: 135px 135px auto;
    grid-template-areas: "header header header"
        "placeholder-1 placeholder-1 placeholder-2"
        "btn-1 btn-2 placeholder-2"
}

#header {
    grid-area: header;
    font-size: 1.5em;
}

#placeholder-1 {
    grid-area: placeholder-1;
}

#placeholder-2 {
    grid-area: placeholder-2;
}

#btn-1 {
    grid-area: btn-1;
}

#btn-2 {
    grid-area: btn-2;
}