@import '@/assets/variables.scss';

.scope {
    width: 100%;
    height: 100%;
    cursor: default;

    margin: 0;
    padding: 0;

    font-family: 'Play', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9em;
}

.container {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;

    border-width: 1px;
    border-style: solid;
    border-color: $main-color;
    border-radius: 5px;
}

.text-input {
    width: 100%;
    height: 100%;

    font-size: 1em;

    padding: 0;
    padding-left: 10px;
    padding-right: 10px;

    margin: 0;

    color: white;
    background-color: $main-background-color-dark;

    box-sizing: border-box;

    border-width: 1px;
    border-style: solid;
    border-color: gray;
    border-radius: 5px;

    transition: all 0.2s ease;
}

.text-input:hover {
    background-color: $main-background-color-hover;
}

.text-input:focus {
    border-color: $main-color;
}

.text-input-multiline {
    width: 100%;
    height: 100%;

    font-size: 1.15em;

    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    margin: 0;

    overflow: auto;
    resize: none;

    color: white;
    background-color: $main-background-color-dark;

    border-width: 1px;
    border-style: solid;
    border-color: gray;
    border-radius: 5px;

    transition: all 0.2s ease;
}

.text-input-multiline:hover {
    background-color: $main-background-color-hover;
}

.text-input-multiline:focus {
    border-color: $main-color;
}

.date-input {
  width: 100%;
  height: 100%;

  font-size: 1em;

  padding: 0;
}

.dp__theme_dark {
  --dp-background-color: $main-background-color-dark;
  --dp-text-color: #ffffff;
  --dp-hover-color: $main-background-color-hover;
  --dp-hover-text-color: #ffffff;
  --dp-hover-icon-color: #959595;
  --dp-primary-color: $main-color;
  --dp-primary-text-color: #ffffff;
  --dp-secondary-color: #a9a9a9;
  --dp-border-color: gray;
  --dp-menu-border-color: $main-color;
  --dp-border-color-hover: #aaaeb7;
  --dp-disabled-color: #737373;
  --dp-scroll-bar-background: #212121;
  --dp-scroll-bar-color: #484848;
  --dp-success-color: $main-color;
  --dp-success-color-disabled: gray;
  --dp-icon-color: $main-color;
  --dp-danger-color: #e53935;
  --dp-highlight-color: rgba(0, 92, 178, 0.2);
}

.grid-item-left {
    display: flex;
    justify-content: left;
    align-items: center;
}

.grid-item-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid {
    width: 100%;
    height: 100%;

    display: grid;
    grid-gap: 15px;
}