@import '@/assets/variables.scss';

.grid {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 250px;
    right: 0;

    color: white;
    background: $main-background-color;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 250px auto;
    grid-template-areas: 'sidebar display';
}

#sidebar {
    grid-area: sidebar;
}

#display {
    grid-area: display;
    overflow-x: hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}