// Media
$max-width: 600px;

// Colors
$main-background-color: rgb(50, 50, 50);
$main-background-color-hover: rgb(50, 50, 50);
$main-background-color-dark: rgb(40, 40, 40);
$main-background-color-dark-2: rgb(30, 30, 30);
$main-background-color-light: rgb(60, 60, 60);
$main-background-color-light-2: rgb(70, 70, 70);

$light-gray: rgb(40, 40, 40);
$light-gray-hover: rgb(44, 44, 44);

$main-color: rgb(0, 122, 204);
$main-color-shade-1: rgb(0, 131, 218);
$main-color-hover: rgb(5, 140, 230);
$main-color-active: rgb(7, 155, 253);
$main-color-active-hover: rgb(20, 161, 255);

$main-green: rgb(99, 219, 99);
$main-red: red;
$main-orange: rgb(237, 170, 0);

$log-date: lime;
$log-module: darkslateblue;
$log-level: red;
$log-msg: lightgray;

// Styling
$main-padding: 20px;
$main-margin: 20px;

$main-border-style: solid;
$main-border-width: 1px;
$main-border-radius: 5px;
$main-border-color: $main-color;


// Fonts
$main-font: 'Play', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$main-font-size: 0.9em;

$main-font-2: 'Lobster', 'Segoe UI', 'Arial';

$main-font-neutral: Arial, Helvetica, sans-serif;
