// Media
$max-width-tablet: 760px;
$max-width-desktop: 1280px;

// Styling
$main-padding: 20px;
$main-margin: 20px;

$main-border-style: solid;
$main-border-width: 1px;
$main-border-radius: 5px;
$main-border-color: var(--main-color);

// Fonts
$main-font: "Play", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$main-font-size: 0.9em;

$main-font-2: "Lobster", "Segoe UI", "Arial";

$main-font-neutral: Arial, Helvetica, sans-serif;
